In [344]:
import numpy as np
import matplotlib.pyplot as mpl
from random import random
import math
import pandas as pd

In [371]:
#funcion sigmoid
eps = np.finfo(float).eps
eps=2.718281828459045235360287471352662497757247093699959574

def sigmo(z):
    print("sigmo: ", z[0])
    return (1/(1+eps**(-z[0])))

def calc(x, theta):
    suma = 0
    for j in range(x.shape[0]):
        suma+=x[j]*theta[j]
    return suma

def predict(x, theta):
    y2 = []
    for i in range(x.shape[0]):
        y2.append(sigmo(calc(x[i,:],theta)))
    return y2

#Funcion Gradiente Vectorizada
def gradienteV(X,Y,theta,alpha, num_iter):
    for i in range(num_iter):
        #print("Coso en iter ",i," es: ",c)
        h_theta = (np.dot(X,theta) - Y)  #Vector Columna h_t = (X.Theta -Y)
#         print("x", X.shape, "theta: ", theta.shape, "y: ", Y.shape, "h the: ", h_theta.shape)
        tmp = h_theta * X
        gamma =  np.sum(tmp, axis=0).reshape(theta.shape[0],1) #Sum(h_t)*X
        theta = theta - ((alpha/X.shape[0]) * gamma)
    
    return theta

In [372]:
#regresion logistica
def regre(x):
    a = random()
    while a==0:
        a=random()
    return a

In [373]:
#x = [2,3,3,4,5,6,7,8,9,8]
#y = [1,0,1,1,0,1,1,0,0,1]

#funcion costo
def logistic_cost(y2, y):
    cost = 0
    for i in range (len(y)):
        ycal=y2[i]
        print("ycal=", ycal, " y=", y[i][0])
        cost+=(y[i][0]*np.log(ycal))+((1-y[i][0])*np.log(1-ycal))
    
    return cost/(-len(y))

In [374]:
#creando una matrix plantilla(1)
y=[0,0,3,3,4,4,7,10,11,11,14,14,15,18,21,24,25,26]
y=[0,0,1,0,0,0,1,1,0,0,1,0,0,1,1,1,0,0]

y=np.array(y)
y=y.reshape(len(y),1)

X= np.ones((18,8))
X[:,1] =np.arange(1,19) 
X[:,2] =[27.1,27.1,27.6,27.2,28.0,26.4,26.1,25.7,25.9,26.6,26,26.7,26.3,26,26.3,26.8,26.28,25.9]
X[:,3] =[26.5,28.22,28.23,26.4,24.6,28.4,26.9,27.9,28.1,29.6,26.4,26,24.7,28.7,26.9,27.9,28.4,27.3]

X[:,4] =[20,22,23,28,30,25,18,21,20,16,27,23,25,29,19,21,25,19] 

X[:,5] =[53,3,3,8,3,43,3640,3,3,570,43,3,67,3,3,2850,25,3]

X[:,6] =[46788,50000,50000,60000,50000,60235,45000,50000,50000,48665,42354,50000,51796,50000,40093,35742,49000,50000]

#x[:,7] =[-1,1,1,-1,1,-1,-1,1,1,-1,-1,1,-1,1,1,-1,-1,1] 
X[:,7] =[0.3,0.7,0.7,0.3,0.7,0.3,0.4,0.7,0.7,0.3,0.3,0.7,0.3,0.7,0.7,0.3,0.3,0.3]

In [375]:
row_data = {'orden':np.arange(1,19),
            'edades':[27.1,27.1,27.6,27.2,28.0,26.4,26.1,25.7,25.9,26.6,26,26.7,26.3,26,26.3,26.8,26.28,25.9],
            'edad_contra':[26.5,28.22,28.23,26.4,24.6,28.4,26.9,27.9,28.1,29.6,26.4,26,24.7,28.7,26.9,27.9,28.4,27.3],
            'temperatura':[20,22,23,28,30,25,18,21,20,16,27,23,25,29,19,21,25,19] ,
            'altura':[53,3,3,8,3,43,3640,3,3,570,43,3,67,3,3,2850,25,3],
            'capacidad':[46788,50000,50000,60000,50000,60235,45000,50000,50000,48665,42354,50000,51796,50000,40093,35742,49000,50000],
            'local_visit':[0.3,0.7,0.7,0.3,0.7,0.3,0.4,0.7,0.7,0.3,0.3,0.7,0.3,0.7,0.7,0.3,0.3,0.3] }
file = pd.DataFrame(row_data, 
                    columns=['orden','edades','edad_contra','temperatura','altura','capacidad','local_visit'])
file.to_csv('data.csv')
file

    orden  edades  edad_contra  temperatura  altura  capacidad  local_visit
0       1   27.10        26.50           20      53      46788          0.3
1       2   27.10        28.22           22       3      50000          0.7
2       3   27.60        28.23           23       3      50000          0.7
3       4   27.20        26.40           28       8      60000          0.3
4       5   28.00        24.60           30       3      50000          0.7
5       6   26.40        28.40           25      43      60235          0.3
6       7   26.10        26.90           18    3640      45000          0.4
7       8   25.70        27.90           21       3      50000          0.7
8       9   25.90        28.10           20       3      50000          0.7
9      10   26.60        29.60           16     570      48665          0.3
10     11   26.00        26.40           27      43      42354          0.3
11     12   26.70        26.00           23       3      50000          0.7
12     13   26.30        24.70           25      67      51796          0.3
13     14   26.00        28.70           29       3      50000          0.7
14     15   26.30        26.90           19       3      40093          0.7
15     16   26.80        27.90           21    2850      35742          0.3
16     17   26.28        28.40           25      25      49000          0.3
17     18   25.90        27.30           19       3      50000          0.3

In [376]:
#entre 0-1
def normalized(array):
    new_array=np.zeros(18)
    _min=np.min(array)
    _max=np.max(array)
    minmax=_max-_min
    for i in range (0,len(array)):
        new_array[i]=(array[i]-_min)/minmax
        
    return new_array            

for i in range (2,7):
    X[:,i]= normalized(X[:,i])
print(X)

[[1.00000000e+00 1.00000000e+00 6.08695652e-01 3.80000000e-01
  2.85714286e-01 1.37475942e-02 4.50985996e-01 3.00000000e-01]
 [1.00000000e+00 2.00000000e+00 6.08695652e-01 7.24000000e-01
  4.28571429e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 3.00000000e+00 8.26086957e-01 7.26000000e-01
  5.00000000e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 4.00000000e+00 6.52173913e-01 3.60000000e-01
  8.57142857e-01 1.37475942e-03 9.90405422e-01 3.00000000e-01]
 [1.00000000e+00 5.00000000e+00 1.00000000e+00 0.00000000e+00
  1.00000000e+00 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 6.00000000e+00 3.04347826e-01 7.60000000e-01
  6.42857143e-01 1.09980753e-02 1.00000000e+00 3.00000000e-01]
 [1.00000000e+00 7.00000000e+00 1.73913043e-01 4.60000000e-01
  1.42857143e-01 1.00000000e+00 3.77985547e-01 4.00000000e-01]
 [1.00000000e+00 8.00000000e+00 0.00000000e+00 6.60000000e-01
  3.57142857e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 9.00000000e+00 8.69565217e-02 7.00000000e-01
  2.85714286e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 1.00000000e+01 3.91304348e-01 1.00000000e+00
  0.00000000e+00 1.55897718e-01 5.27620136e-01 3.00000000e-01]
 [1.00000000e+00 1.10000000e+01 1.30434783e-01 3.60000000e-01
  7.85714286e-01 1.09980753e-02 2.69954681e-01 3.00000000e-01]
 [1.00000000e+00 1.20000000e+01 4.34782609e-01 2.80000000e-01
  5.00000000e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 1.30000000e+01 2.60869565e-01 2.00000000e-02
  6.42857143e-01 1.75969205e-02 6.55452578e-01 3.00000000e-01]
 [1.00000000e+00 1.40000000e+01 1.30434783e-01 8.20000000e-01
  9.28571429e-01 0.00000000e+00 5.82125505e-01 7.00000000e-01]
 [1.00000000e+00 1.50000000e+01 2.60869565e-01 4.60000000e-01
  2.14285714e-01 0.00000000e+00 1.77642592e-01 7.00000000e-01]
 [1.00000000e+00 1.60000000e+01 4.78260870e-01 6.60000000e-01
  3.57142857e-01 7.82788012e-01 0.00000000e+00 3.00000000e-01]
 [1.00000000e+00 1.70000000e+01 2.52173913e-01 7.60000000e-01
  6.42857143e-01 6.04894144e-03 5.41297514e-01 3.00000000e-01]
 [1.00000000e+00 1.80000000e+01 8.69565217e-02 5.40000000e-01
  2.14285714e-01 0.00000000e+00 5.82125505e-01 3.00000000e-01]]

In [377]:
theta_ = np.zeros((8,1))
theta_

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [382]:
theta = gradienteV(X,y,theta_,0.001,100000)
print(theta)

[[ 0.42296813]
 [-0.02045508]
 [-0.65566486]
 [ 0.41589036]
 [ 0.76340934]
 [ 0.63269715]
 [-1.16957475]
 [ 0.74940646]]

In [383]:
y_pred=predict(X,theta)

sigmo:  0.08562615412871932
sigmo:  0.45498289247768253
sigmo:  0.3473529894001046
sigmo:  -0.21504975919542652
sigmo:  0.2721824191816071
sigmo:  -0.030267081992579714
sigmo:  0.956499311748534
sigmo:  0.6502065294556353
sigmo:  0.5348434874209297
sigmo:  0.08410994785270148
sigmo:  0.7780310829941026
sigmo:  0.23433466030229977
sigmo:  -0.04555532118924038
sigmo:  0.9447308963578035
sigmo:  0.616814399933922
sigmo:  1.049331482369168
sigmo:  0.3122911583717199
sigmo:  -0.07008653092510236

In [384]:
print(y_pred)

[0.5213934690079218, 0.6118233060491182, 0.585975538911715, 0.44644379973989456, 0.5676286070400781, 0.4924338071064489, 0.7224203618478134, 0.6570570021050132, 0.630612068279939, 0.5210150991763253, 0.6852556121886406, 0.5583170466247401, 0.4886131388852581, 0.7200542851470608, 0.6494936873140827, 0.7406465047857421, 0.5774444081592286, 0.48248553611352196]

In [385]:
logistic_cost(y_pred, y)

ycal= 0.5213934690079218  y= 0
ycal= 0.6118233060491182  y= 0
ycal= 0.585975538911715  y= 1
ycal= 0.44644379973989456  y= 0
ycal= 0.5676286070400781  y= 0
ycal= 0.4924338071064489  y= 0
ycal= 0.7224203618478134  y= 1
ycal= 0.6570570021050132  y= 1
ycal= 0.630612068279939  y= 0
ycal= 0.5210150991763253  y= 0
ycal= 0.6852556121886406  y= 1
ycal= 0.5583170466247401  y= 0
ycal= 0.4886131388852581  y= 0
ycal= 0.7200542851470608  y= 1
ycal= 0.6494936873140827  y= 1
ycal= 0.7406465047857421  y= 1
ycal= 0.5774444081592286  y= 0
ycal= 0.48248553611352196  y= 0

0.6249386362613012